* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Lato", sans-serif;
  
    background-color: rgb(62, 72, 119);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
  
    flex-wrap: wrap;
  }
  .nav-area {
    margin-left: auto;
    margin-right: 5%;
    padding: 15px;
    list-style: none;
    margin-top: 20px;
  }
  .logo {
    margin-left: 5%;
    height: 90px;
    width: 90px;
  }
  .logo img {
    width: 100%;
    padding: 15px 0;
  }
  .nav-area li {
    display: inline-block;
  }
  .nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
  }
  .nav-area li a:hover {
    background: #fff;
    color: #333;
  }
  
  .fromjs {
    text-align: center;
    color: white;
    width: 100%;
    justify-content: center;
  }
  
  .bill {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  #customers {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
  }
  
  #customers th {
    border: 1px solid #590159;
    width: 20%;
    padding: 10px;
    background-color: #fff;
    color: #590159;
  }
  #customers td {
    border: 1px solid #ddd;
    width: 20%;
    padding: 10px;
  }
  
  .confirm-div {
    width: 100%;
    text-align: center;
  }
  .bill-parent {
    width: 100%;
    margin: 2% auto;
  }
  
  .confirm-pay {
    font-weight: bold;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
    color: #000000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
  }
  .confirm-pay:hover {
    background-color: #000;
    color: white;
  }
  
  .test {
    color: white;
  }
  
  @media (max-width: 650px) {
    .nav-area {
        width: 100%;
      float: none;
      text-align: center;
      margin-top: 0;
      display: flex;
      flex-direction: column;
    }
    .nav-area li a {
        margin: 5px;
        width: 100%;
      padding: 5px;
      font-size: 25px;
    }
    .logo {
        width: 100px;
       justify-content: center;
       margin: 7px auto;
      }
  }
  
  